{% extends 'layaouts/base.html' %}

{% block content %}

<h1>Tasks</h1>

{% for task in tasks %}

<div>
    <h1>{% if task.done == False %} 🕑 {%else %} ✓ {% endif %} {{task.title}}</h1>

    {% if task.done == False %}
    <p>Tarea pendiente</p>
    {% else %}
    <p>Tarea Realizada</p>
    {% endif %}


   
  
    <p>{{task.description}}</p>
    <p>project: {{task.project.name}}</p>
    <button>
        Delete
    </button>
    <button>
        ✓ Done
    </button>
</div>

{% endfor %}

{% endblock %}