{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django proyect</title>
    <link rel="stylesheet" href="{% static 'styles/main.css'%}">
</head>
<body>
    <nav>
        <ul>
            <li>
            <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
            <li>
            <a href="{% url 'projects' %}">Projects</a>
            </li>
            <li>
                <a href="{% url 'tasks' %}">Tasks</a>
            </li>
            <li>
                <a href="{% url 'create_tasks' %}">Create Tasks</a>
            </li>
            <li>
                <a href="{% url 'create_project' %}">Create project</a>
            </li>
        </ul>
    </nav>
    
    {% block content %}
    {% endblock %}
</body>
</html>